
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
        <img src="../../assets/images/logo-code.png" alt="Code Master">
    </div>
    <div class="w3-padding-64 w3-large w3-text-white" style="font-weight:bold">
        <a routerLink="/courseTemplate" class="w3-bar-item w3-button">HTML</a>
        <a routerLink="/courseTemplate" class="w3-bar-item w3-button">CSS</a>
        <a routerLink="/courseTemplate" class="w3-bar-item w3-button">SQL</a>
        <a routerLink="/courseTemplate" class="w3-bar-item w3-button">JAVA</a>
        <a routerLink="/courseTemplate" class="w3-bar-item w3-button">JQuery</a>
        <a routerLink="/courseTemplate" class="w3-bar-item w3-button">JAVASCRIPT</a>
    </div>
    <a class="w3-bar-item w3-button w3-padding">Contact</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<!-- <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div> -->

<!-- !PAGE CONTENT! -->
<main class="w3-main">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <header class="text-center">
        <!-- Image header -->
        <div class="w3-display-container w3-container">
            <h1>Passion for learning</h1>
            <h2>Find the right course for you!</h2>
            <p class="mt-4"><a class="w3-button w3-padding-large w3-large">CHOOSE NOW</a></p>
        </div>
    </header>
    

    <div class="w3-container text-center intro" id="Courses">
        <h2>Ready to dive into the exciting world of web development?</h2>
        <p> Code master offers a sneak peek into our web development courses, designed to equip you with the essential skills to build stunning and functional websites. Whether you're a complete beginner or looking to expand your existing knowledge, get ready to explore the fundamental building blocks of the web and discover how you can bring your creative ideas to life through code.</p>
    </div>

    <!-- Product grid -->
    <div class="course-grid">
        <div class="course-card">
            <div class="course-inner">
                <div class="course-btn">
                    <div class="flip-front">
                        <img src="../../assets/images/html-5.png" class="course-image" alt="HTML Course">
                        <p class="course-title">HTML<br></p>
                    </div>
                    
                    <div class="flip-back">
                        <button routerLink="/courseTemplate" class="w3-button button-white">Start now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="course-card">
            <div class="course-inner">
                <div class="course-btn">
                    <div class="flip-front">
                        <img src="../../assets/images/sql.png" class="course-image" alt="SQL Course">
                        <p class="course-title">SQL<br></p>
                    </div>

                    <div class="flip-back">
                        <button  class="w3-button button-white">Start now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="course-card">
            <div class="course-inner">
                <div class="course-btn">
                    <div class="flip-front">
                        <img src="../../assets/images/css.png" class="course-image" alt="CSS Course">
                        <p class="course-title">CSS<br></p>
                    </div>
                    
                    <div class="flip-back">
                        <button routerLink="/courseTemplate" class="w3-button button-white">Start now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="course-card">
            <div class="course-inner">
                <div class="course-btn">
                    <div class="flip-front">
                        <img src="../../assets/images/java.png" class="course-image" alt="JAVA Course">
                        <p class="course-title">JAVA<br></p>
                    </div>
                    <div class="flip-back">
                        <button routerLink="/courseTemplate" class="w3-button button-white">Start now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="course-card">
            <div class="course-inner">
                <div class="course-btn">
                    <div class="flip-front">
                        <img src="../../assets/images/jquery.png" class="course-image" alt="JQUERY Course">
                        <p class="course-title">JQUERY<br></p>
                    </div>
                    <div class="flip-back">
                        <button routerLink="/courseTemplate" class="w3-button button-white">Start now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="course-card">
            <div class="course-inner">
                <div class="course-btn">
                    <div class="flip-front">
                        <img src="../../assets/images/js.png" class="course-image" alt="JAVASCRIPT Course">
                        <p class="course-title">JAVASCRIPT<br></p>
                    </div>
                    <div class="flip-back">
                        <button routerLink="/courseTemplate" class="w3-button button-white">Start now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-padding-32  w3-small w3-center" id="footer">
        <div class="w3-row-padding">
            <div class="w3-col s4">
                <h4>Contact</h4>
                <p class="mb-2">Questions? Go ahead.</p>
                <form class="footer-form" action="/action_page.php" target="_blank">
                    <p><input class="w3-input" type="text" placeholder="Name" name="Name" required></p>
                    <p><input class="w3-input" type="text" placeholder="Email" name="Email" required></p>
                    <p><input class="w3-input" type="text" placeholder="Subject" name="Subject" required></p>
                    <p><input class="w3-input" type="text" placeholder="Message" name="Message" required></p>
                    <button type="submit" class="w3-button w3-block">Send</button>
                </form>
            </div>

            <div class="w3-col s4 about">
                <h4>About</h4>
                <p><a href="#">About us</a></p>
                <p><a href="#">All Coureses</a></p>
                <p><a href="#">Instructors</a></p>
                <p><a href="#">Certifications</a></p>
            </div>

            <div class="w3-col s4 w3-justify">
                <h4>Store</h4>
                <section class="contact-list mb-2">
                    <p><i class="fa fa-fw fa-map-marker"></i> E-Learning Systems LTD.</p>
                    <p><i class="fa fa-fw fa-phone"></i> 1234567890</p>
                    <p><i class="fa fa-fw fa-envelope"></i> michto@fs.com</p>
                </section>
                
                <section class="social">
                    <a href="https://facebook.com" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://instagram.com" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="https://linkedin.com" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                </section>
                
            </div>
        </div>
    </footer>

    <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://motivus.com/es/" title="W3.CSS" target="_blank" class="w3-hover-opacity">Motivus</a></div>

    <!-- End page content -->
</main>

<script>
// Accordion 
function myAccFunc() {
    var x = document.getElementById("demoAcc");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtn").click();

// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
